.peliculaMasPopular {
    background: #fff;
    font-size: 20px;
    padding: 10px 15px 10px 9px;
    margin: 0 10px 20px 10px;
    width: 22%;
    border-radius: 22px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    min-height: 420px;
}
.titulopelicula2 {
    color: #460000;
    font-family: "Roboto", sans-serif;
    font-size: normal;
}
.imagenpeliculaMasPop{
    border-radius: 22px;
}

@media (max-width: 768px){
    .peliculaMasPopular{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 300px;
    }
}