.mainHome{
    background-color: #460000;
}
#h2Main{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 4px;
}
.botonDetalle {
    color: #460000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color:  #DCA23E;
    border-radius: 22px;
    padding: 5px 10px;
}
#BotonVerTodas{
    color:#460000
}