.peliculaEnCartel{
        background-color: #F1E3C3;
    font-size: 20px;
    padding: 10px 15px 10px 8px;
    margin: 0 10px 20px 12px;
    width: 22%;
    border-radius: 22px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.divEnCartel{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
        align-items: flex-start;
        background-color: #460000;
}
.titulopelicula{
    color:#460000;
    font-family: "Roboto", sans-serif;
    font-size: normal;
}
.imagenpelicula{
    border-radius: 22px;
}
@media (max-width: 768px){
    .divEnCartel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        padding-right: 50px;
    }
}