#titulo {
    font-family: "Petit Formal Script";
    font-weight: bold;
    font-style: normal;
    color: #DCA23E;
    padding: 0 0 0 15px;
    text-decoration: none;
}

.ContainerHeader {
    background-color: #460000;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#contenedordetituloeimagen{
    display: flex;
}

nav {
    background-color: #460000;
    display: flex;
}

.Nav-ul {
    display: flex;
    background-color: #460000;
    justify-content: end;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    margin-top: 18px;
}

.nav-link {
    text-decoration: none;
    color: #EAAA52;
    padding: 0 15px 0px 15px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px 0 0;
}
#logo{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 75px;
    height: 75px;
    border-radius: 22px;
}
#home{
    color: #DCA23E;
}
#logout{
    background-color: #460000;
}
@media (max-width: 768px){
    .ContainerHeader{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .Nav-ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

}