#divgeneralDetalle {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #460000;
}

#articleDetalle {
    align-items: center;
    display: flex;
    width: 75%;
    margin: 40px;
box-shadow: rgba(17, 12, 46, 0.4) 0px 8px 20px;
}

#imagenDetalle {
    width: 22vw;
    height: AUTO;
    box-shadow: rgba(17, 12, 46, 0.4) 0px 8px 20px;
    margin: 15px
}
.PFavoritos{
    margin-left: 25px;
}
#tituloDetalle {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 0;
}

.informacionDetalle {
    display: flex;
    justify-content: space-between;
}
.informacionDetalle{
    font-family: "Roboto", sans-serif;
}
.datoDetalle {
    padding: 10px;
    background-color: #DCA23E;
    border-radius: 22px;
    font-family: "Roboto", sans-serif;
    width: fit-content;
}
.mapeoDetalle{
    display: flex;
}
#pMapeadaDetalle{
    margin-right: 20px;
}