.peliculaMasPopular {
    background-color: #F1E3C3;
    font-size: 20px;
    padding: 10px;
    margin: 0 10px 20px 10px;
    width: 22%;
    background: #fff;
    border-radius: 22px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}

.divMasPopular {
    display: flex;
    flex-wrap: wrap;
}

.titulopelicula {
    color: #460000;
    font-family: "Roboto", sans-serif;
    font-size: normal;
}

a {
    text-decoration: none;
}

