.divMasPopular {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
a {
    text-decoration: none;
}

@media (max-width: 420px){
  .divMasPopular{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding-right: 50px;
  }
}